.krt-CurrentPub {
    .krt-List {
        max-height: 150px;
        overflow-y: scroll;
    }

    &__data-title {
        display: block;
        font-size: 1.2rem;
    }

    &__data-content {
        font-size: .8rem;
    }
}