.krt-CurrentPub {
    .krt-List {
        max-height: 150px;
        overflow-y: scroll;
    }

    .krt-ListItem + .krt-ListItem {
        margin-top: 12px;
    }

    .krt-Heading {
        display: block;
        font-size: 1.2rem;
    }

    .krt-Paragraph {
        font-size: .8rem;
    }
}