.krt-PubMapItem {
    @import '../../../../styles/variables/colors';

    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: $color-dark-purple;
    transition: background-color .2s ease-in-out, transform .2s ease-in-out;
    z-index: 100;

    &--n1083668064 {
        top: 15%;
        left: 57%;
    }

    &--n1221258124 {
        top: 32%;
        left: 31%;
    }

    &--n1724352586 {
        top: 61%;
        left: 85%;
    }

    &--n1741897815 {
        top: 59%;
        left: 10%;
    }

    &--n2725878434 {
        top: 75%;
        left: 66%;
    }

    &--is-clickable {
        background-color: lighten($color-dark-purple, 25);
        border: 1px solid $color-dark-purple;
        cursor: pointer;

        &:hover {
            background-color: $color-dark-purple;
            transform: scale(1.5);
        }
    }
}