.krt-PubsMap {
    @import '../../../styles/variables/colors';

    position: relative;
    width: 603px;
    height: inherit;
    border-radius: 4px;
    margin: 0 auto;

    .krt-Image {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &__1s--active.krt-Image,
    &__1--active.krt-Image,
    &__2--active.krt-Image,
    &__3--active.krt-Image,
    &__4--active.krt-Image,
    &__5--active.krt-Image,
    &__5s--active.krt-Image,
    &__r1--active.krt-Image,
    &__r2--active.krt-Image,
    &__r3--active.krt-Image,
    &__r4--active.krt-Image,
    &__r5--active.krt-Image {
        opacity: 1;
    }
}