.krt-BeerProgress {
    @import '../../../styles/variables/colors';

    padding-top: 6px;
    margin: -12px;

    .krt-BeerProgressIcon {
        margin: 6px 12px;
    }

    &__amount {
        margin-top: 27px;
        margin-bottom: 27px;
        margin-left: 12px;
        padding: 6px 12px;
        border-radius: 4px;
        border: 0;
    }

    &__set-button {
        border: 0;
        margin-left: 12px;
        padding: 6px 12px;
        border-radius: 4px;
        font-weight: 500;
        background-color: $color-primary;
        color: $color-secondary;
        cursor: pointer;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: darken($color-primary, 5);
        }
    }
}