.krt-BeerProgress {
    padding-top: 6px;
    margin: -12px;

    .krt-BeerProgressIcon {
        margin: 6px 12px;
    }

    &__amount {
        margin-top: 27px;
        margin-bottom: 27px;
        margin-left: 12px;
    }

    &__set-button {
        margin-left: 12px;
    }
}