.krt-View {
    @import '../../../styles/variables/colors';

    padding: 24px;
    color: $color-white;
    min-height: 100vh;

    > .krt-View {
        padding: 0;
        min-height: unset;
    }

    > .krt-Section + .krt-Section {
        margin-top: 24px;
        height: 360px;
    }

    &__hidden-page-title {
        opacity: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
        position: absolute;
        left: -9999px;
    }
}