.krt-View {
    @import '../../../styles/variables/colors';

    padding: 24px;
    color: $color-white;
    min-height: 100vh;

    > .krt-Section + .krt-Section {
        margin-top: 24px;
        height: 450px;
    }
}