// Generic
$color-white: #FFFFFF;
$color-black: #000000;

// Scheme
$color-dark-blue: #1D112A;
$color-orange: #FAAD3F;
$color-light-green: #45A29E;
$color-dark-purple: #3B208D;

// Implementations
$color-primary: $color-orange;
$color-secondary: $color-dark-blue;
$color-link: $color-light-green;