.krt-BeerAmount {
    @import '../../../../styles/variables/colors';

    background-color: $color-primary;
    padding: 3px 12px;
    border-radius: 4px;
    margin-right: 12px;
    float: left;
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    &__amount {
        color: $color-secondary;
    }

    &__icon {
        height: 18px;
        margin-left: 6px;
    }
}