.krt-NextPubsListItem {
    @import '../../../styles/variables/colors';

    .krt-Image {
        height: 24px;
    }

    .krt-Column {
        margin-left: 12px;
    }

    .krt-Heading,
    .krt-Paragraph {
        color: $color-primary;
    }

    .krt-Paragraph {
        font-size: .8rem;
    }
}