.krt-NextPubsListItem {
    @import '../../../styles/variables/colors';

    .krt-Image {
        height: 24px;
    }

    .krt-Column {
        margin-left: 12px;
    }

    &__name,
    &__address {
        color: $color-primary;
    }

    &__address {
        font-size: .8rem;
    }
}